*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

span{
    color: #EA1C2C;
    padding: 0px 10px;
}

.social-links{
    display: flex;
    justify-content: space-between;
    margin: 30px 600px;
}

footer .fa{
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}
.fa:hover{
    text-decoration: none;
    color: #EA1C2C;
}

.zero-visiblity{
    display: none;
}

.footer-col p{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin: 20px 0px;
}

img{
    width: 100%;
    height: auto;
}

.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}
@media(max-width:700px){

    .social-links{
        display: none;
    }
    .zero-visiblity{
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        margin: 0px 100px;
        margin-bottom: 50px;
    }
    .zero-visiblity:hover{
        text-decoration: none;
        color: #EA1C2C;
    }
    .footer-col p{
        font-size: 15px;
       display: block;
    }
    .mytitle{
        display: none; 
    } 
    .pymnt a p{
        font-size: 20px;
        margin-bottom: 80px;
    }
    
}

@media (max-width:1030px) and (min-width:700px){
    .social-links{
        display: none;
    }
    .zero-visiblity{
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        margin: 0px 150px;
        margin-bottom: 50px;
    }
    .pymnt p {
        font-size: 35px;
        margin-bottom: 100px;
    }

    @media (max-width:1000px) and (min-width:750px){
        
    }

}
@media (max-width:300px){
    .social-links{
        display: none;
    }
    .zero-visiblity{
        display: none;
    }
}

/* TICKETS  SECTION */

.t-nav{
    background-color: #ff8fa3;
    z-index: 999999;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.logo{
    font-size: 23px;
    font-weight: 100;
    color: #EA1C2C;
    margin: 10px 20px;
}
.t-nav a{
    font-size: 23px;
    font-weight: 100;
    margin: 10px 20px;
    color: #fff;
    display: inline;
    text-decoration: none;
}
.t-nav a:hover{
    color: #EA1C2C;
}

.ticket-container{
    min-height: 100vh;
    width: 100%;
    background: #f5d9d5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 500px;
    height: 300px;
    color: #fff;
    cursor: pointer;
    perspective: 1000px;
}
.card-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.front, .back{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #0045c7, #ff2c7d);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
}
.t-row .chip{
    width: 60px;
}
.t-row .visa{
    width: 80px;
}
.t-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.map-img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
}
.card-no{
   font-size: 35px;
   margin-top: 60px;
}
.card-holder{
    font-size: 12px;
    margin-top: 40px;
}
.name{
    font-size: 22px;
    margin-top: 20px;
}
.bar{
    background: #222;
    margin-left: -30px;
    margin-right: -30px;
    height: 60px;
    margin-top: 10px;
}
.card-cvv{
    margin-top: 20px;
}
.card-cvv div{
    flex: 1;
}
.card-cvv img{
    width: 100%;
    display: block;
    line-height: 0;
}
.card-cvv p{
    background: #fff;
    color: #000;
    font-size: 22px;
    padding: 10px 20px;
}
.card-text{
    margin-top: 30px;
    font-size: 14px;
}
.signature img{
    width: 80px;
}
.signature{
    margin-top: 30px;
}
.back{
    transform: rotateY(180deg);
}
.card:hover .card-inner{
    transform: rotateY(-180deg);
}

@media(max-width:700px){
    .card{
        width: 350px;
        height: 215px;
    }
    .card-no{
        margin-top: 25px;
        font-size: 20px;
    }
    .card-holder{
        margin-top: 20px;
    }
    .namee{
        font-size: 15px;
    }
    #chipp{
        width: 45px;
    }
    #visaa{
        width: 70px;
    }
    .signature{
        font-size: 12px;
    }
    #visaaa{
        width: 60px;
    }
    .card-cvv p{
        font-size: 20px;
    }
    .bar{
        margin-left: -30px;
        margin-right: -30px;
        height: 20px;
    }
    .card-text{
        margin-top: 10px;
        font-size: 12px;
    }
    .t-nav{
        justify-content: center;
        align-items: center;
        position: fixed;
    }
    .logo{
        font-size: 10px;
    }
    .t-nav a{
        font-size: 10px;
    }
}

.pymnt p, a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}
